
.button {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	position: fixed;
	top: 57%;
	left: 40%;
}

.button:hover {
	background-color: #3e8e41;
}

.countdown {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: red;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: none;
  color: white;
}

.countdown.show {
	display: block;
}

.countdown span {
	color: white;
  font-size: 20px;
  font-weight: bold;
}